<h1>Admin Dashboard</h1>

<table class="table table-sm">

  <thead>
    <tr>
      <th>Product Count</th>
      <th>Category Count</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><a href="/admin/products"><%= @product_count %></a></td>
      <td><a href="/admin/categories"><%= @category_count %></a></td>
    </tr>
  </tbody>

</table> 

