// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.email-display {
  padding-top: 1em;
  color: #777
}

// edit nav bar for spacing
// #navbar {
//   width: 800px;
// }